{% load static %} {% extends 'auctions/layout.html' %} {% block body %} {% if listings != list %} {% for listing in listings %}
	<div class="row row-cols-2 row-cols-md-2 g-4" style="width: 100%; ; padding: 10px; margin: auto;">
		<div class="card" style="display: flex;">
			<img
				src="{{ listing.image_url }}"
				class="card-img-top"
				alt="Listing Image"
			/>
			<div class="card-body">
				<h5 class="card-title">
					<center>
						<strong><h1>{{ listing.title }}</h1></strong>
					</center>
				</h5>
				<p class="card-text">{{ listing.description }}</p>
				<p class="card-text"><strong>Price (Current Highest Bid)</strong> : ${{ listing.price }}</p>
				<p class="card-text" style="color: gray">
					Created at: {{ listing.created_at }}
				</p>
				<a href="{% url 'listitem' listing.id%}" class="btn btn-primary">Bid!</a>
			</div>
		</div>
	</div>
{% endfor %} {% else %}
<h1 style="color: Red; text-align: center">Nothing In this category</h1>
{% endif %} {% endblock body %}
